/com
/displaytag.properties
/ehcache.xml
/freemarker.properties
/globals.properties
/log4j.properties
/mmr.xml
/pagesection_roles_map.xml
/shiplinx.xml
/sqlmaps
/struts.xml
/wbtsMsgs.properties
/wbtsMsgs_fr_CA.properties
/ws
